@charset "ISO-8859-1";

body{
     margin: 0;
     font-family: Arial, Helvetica, sans-serif;
}


.footer{
          
     display: flex;
     justify-content: center;
     border-top-style: solid;
     border-width: 0.1em;
     border-color: #FF6600 ;
}

.contenedorElementosFooter{
     display: flex;
     align-items: center;
     
}

.contenedorElementosFooter div{
     padding: 1em;
}

.contenidoIntermedio{
     font-size: 1.2em;
}

.contenidoIntermedio span{
     color: #FF6600;
}